name: Trigger Actions in Other Repositories

on: 
    workflow_run:
        workflows: ["Deploy to AWS ECS"]
        types:
          - completed

jobs:
  trigger-other-repos:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Repo2 Workflow
        uses: actions/github-script@v5
        with:
          
          script: |
            echo "HEllo"
